verbose                     1                            # Verbosity level of program

# Scheduler
scheduler_stepSizeAngle     1                            # Angle step size in degrees
scheduler_stepSizeY         1                            # y-coordinate step size in mm            
scheduler_angleRanges       0,5|8,10                     # Angle ranges start1,stop1|start2,stop2|...
scheduler_yRanges           0,1                          # y-coordinate ranges start1,stop1|start2,stop2|...

# Function generator
funcgen_IPaddress           137.205.188.34               # IP address of device on the network
funcgen_channel             1                            # Output channel (1 or 2)
funcgen_shape               SQUARE                       # Function shape (SINUSOID, SQUARE, RAMP, PULSE)
funcgen_cycles              100                          # Number of function cycles in a burst
funcgen_frequency           1000                         # Function frequency [Hz]
funcgen_Vmin                0.0                          # Minimum function voltage [V]
funcgen_Vmax                5.0                          # Maximum function voltage [V]

# Humidity reader
humid_USB_port              /dev/ttyACM0                 # Name of USB port on the system

# Linear motor
linmotor_device_name        xi-com:///dev/ximc/000029AA  # Name of USB device
linmotor_steps_per_unit     1000                         # Number of motor steps per chosen distance unit

# Rotating motor
rotmotor_USB_port           /dev/ttyACM0                 # Name of USB port on the system
rotmotor_n_motor            0                            # Motor number set on Arduino
rotmotor_steps_per_unit     1000                         # Number of motor steps per chosen distance unit

# Scope
scope_IPaddress             137.205.188.55               # IP address of device on the network

# Writer
writer_filename             myfile.root                  # Name of output .root file
writer_treename             diffuser                     # Name of TTree in the root file
writer_ID_diffuser          DiffuserID                   # ID of diffuser sample
writer_ID_PMT               PhotomultiplierID            # ID of photomultiplier tube used
writer_ID_PD                PhotodiodeID                 # ID of the photodiode used
writer_ID_lightsource       LightsourceID                # ID of the light source used
writer_ID_experimentalist   MyName                       # Name of experimentalist
writer_notes                Notes